In [122]:
import pandas as pd

df = pd.read_json('data/collected_data.json')

In [123]:
df.head()

,title,url,votes,answers,views,tags,datetime,user,user_url,user_reputation
0,Electron uncaught error: Error in native callb...,/questions/76713998/electron-uncaught-error-er...,0,0,2,"[javascript, node.js, electron, ffi]",2023-07-18 14:44:25,Raul,/users/20093880/raul,29.0
1,tomcat installed in remote Ubuntu server doesn...,/questions/76713997/tomcat-installed-in-remote...,0,0,2,"[apache, tcp, firewall, ubuntu-22.04, tomcat10]",2023-07-18 14:44:17,ayada,/users/20757134/ayada,390.0
2,Email Tracking using Google Analytics 4?,/questions/76713996/email-tracking-using-googl...,0,0,2,"[html, google-analytics, html-email, google-an...",2023-07-18 14:44:15,witchysofia,/users/22247037/witchysofia,1.0
3,Fatal error: Uncaught TypeError: call_user_fun...,/questions/76713995/fatal-error-uncaught-typee...,0,0,2,[wordpress],2023-07-18 14:44:13,Odene,/users/22247119/odene,1.0
4,Need a good javascript stats package; or at le...,/questions/76713992/need-a-good-javascript-sta...,0,0,2,"[javascript, statistics, documentation, jstat]",2023-07-18 14:44:01,Tim Erickson,/users/2782564/tim-erickson,582.0

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            49999 non-null  object
 1   url              49999 non-null  object
 2   votes            49999 non-null  int64
 3   answers          49999 non-null  int64
 4   views            49999 non-null  int64
 5   tags             49999 non-null  object
 6   datetime         49999 non-null  datetime64[ns]
 7   user             49950 non-null  object
 8   user_url         49950 non-null  object
 9   user_reputation  49950 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 3.8+ MB

In [125]:
df.describe()

,votes,answers,views,datetime,user_reputation
count,49999.000000,49999.000000,49999.000000,49999,49950.000000
mean,-0.085162,0.559971,28.756595,2023-07-11 16:24:44.884897792,1096.769109
min,-11.000000,0.000000,2.000000,2023-07-04 14:14:23,1.000000
25%,0.000000,0.000000,15.000000,2023-07-08 04:05:11.500000,1.000000
50%,0.000000,0.000000,23.000000,2023-07-11 19:07:50,21.000000
75%,0.000000,1.000000,35.000000,2023-07-14 13:34:58,185.000000
max,50.000000,12.000000,20000.000000,2023-07-18 14:44:25,513000.000000
std,1.060015,0.758855,112.329822,NaN,7639.895788

In [126]:
print('Number of non existing users:', sum(df['user'].isna()))

Number of non existing users: 49

In [127]:
df.dropna(subset=['user'], inplace=True)

In [128]:
print('Number of questions after deleting non existing users:', len(df))

Number of questions after deleting non existing users: 49950

In [129]:
# Remove [duplicate] and [close] from titles
df['title'] = df['title'].apply(lambda x: x.replace('[duplicate]', '').replace('[closed]', '').strip())

In [130]:
print('Number of unique tags:', len(df['tags'].explode().unique()))
print('Number of unique users:', len(df['user'].unique()))

Number of unique tags: 15298
Number of unique users: 37610

In [131]:
print('Min datetime:', df['datetime'].min())
print('Max datetime:', df['datetime'].max())

Min datetime: 2023-07-04 14:14:23
Max datetime: 2023-07-18 14:44:25

In [132]:
df['tags'].explode().value_counts().head(10)

tags
python        6919
javascript    4452
reactjs       2746
java          2523
c#            2220
html          1717
android       1657
node.js       1424
css           1365
flutter       1338
Name: count, dtype: int64

In [133]:
df['question_id'] = df['url'].apply(lambda x: x.split('/')[2])
df['user_id'] = df['user_url'].apply(lambda x: x.split('/')[2])

# Create the 'questions' DataFrame
questions = df[['question_id', 'title', 'url', 'votes', 'answers', 'views', 'datetime']]

# Create the 'users' DataFrame
users = df[['user_id', 'user', 'user_url', 'user_reputation']].drop_duplicates()

In [134]:
questions.head()

,question_id,title,url,votes,answers,views,datetime
0,76713998,Electron uncaught error: Error in native callb...,/questions/76713998/electron-uncaught-error-er...,0,0,2,2023-07-18 14:44:25
1,76713997,tomcat installed in remote Ubuntu server doesn...,/questions/76713997/tomcat-installed-in-remote...,0,0,2,2023-07-18 14:44:17
2,76713996,Email Tracking using Google Analytics 4?,/questions/76713996/email-tracking-using-googl...,0,0,2,2023-07-18 14:44:15
3,76713995,Fatal error: Uncaught TypeError: call_user_fun...,/questions/76713995/fatal-error-uncaught-typee...,0,0,2,2023-07-18 14:44:13
4,76713992,Need a good javascript stats package; or at le...,/questions/76713992/need-a-good-javascript-sta...,0,0,2,2023-07-18 14:44:01

In [135]:
users.head()

    user_id          user                     user_url  user_reputation
0  20093880          Raul         /users/20093880/raul             29.0
1  20757134         ayada        /users/20757134/ayada            390.0
2  22247037   witchysofia  /users/22247037/witchysofia              1.0
3  22247119         Odene        /users/22247119/odene              1.0
4   2782564  Tim Erickson  /users/2782564/tim-erickson            582.0

In [136]:
# Create the 'tags' DataFrame by exploding the 'tags' column
tags = df[['question_id', 'tags']].explode('tags')

# Rename the 'tags' column to 'tag'
tags.rename(columns={'tags': 'tag'}, inplace=True)

# Display the first few rows of the 'tags' DataFrame
tags.head()

  question_id         tag
0    76713998  javascript
0    76713998     node.js
0    76713998    electron
0    76713998         ffi
1    76713997      apache

In [137]:
# Create the 'user_question' DataFrame
user_question = df[['user_id', 'question_id']]

# Display the first few rows of the 'user_question' DataFrame
user_question.head()

    user_id question_id
0  20093880    76713998
1  20757134    76713997
2  22247037    76713996
3  22247119    76713995
4   2782564    76713992

In [138]:
import sqlite3

# Create a connection to the SQLite database
# Note: this will create the database file if it doesn't exist already
conn = sqlite3.connect('data/stackoverflow_data.db')

# Write the DataFrames to the database
questions.to_sql('questions', conn, if_exists='replace', index=False)
users.to_sql('users', conn, if_exists='replace', index=False)
tags.to_sql('tags', conn, if_exists='replace', index=False)
user_question.to_sql('user_question', conn, if_exists='replace', index=False)

# Close the connection to the database
conn.close()